#wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.selector {
    overflow-y: scroll;
    width: 110px;
    height: 90px;
    border: 1px solid silver;
}

section {
    margin-right: 20px;
}

section button {
    margin-top:10px;
}

label, button {
    font-weight: bold;
}

option {
    text-align: right;
}