table {
    width: 400px;
    height: 200px;
    border-collapse: collapse;
}

tr td {
    border: 1px solid black;
    text-align: center;
}

thead th {
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
    border-bottom: 3px double black;
}