/* @media screen {
    body {
        background-color: silver;        
    }
    
    div {
        border: 2px solid purple;
        background-color: purple;
    }
}

@media print {
    div {
        color: purple;
    }
} */

@import url("print.css") print;
@import url("screen.css") screen;